<a href="https://colab.research.google.com/github/Khemapsorn/data_viz_2022/blob/main/Pandas_102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #ใช้pd แทน pandasในการรัน ซึ่งpd ใช้จัดการข้อมูลต่าง ๆ ที่เป็นตาราง พวกexcel ,CSV

In [2]:
from google.colab import drive #เชื่อมต่อ google drive กับ Colab ของเรา นี้เป็นคำสั่งเชื่อม |accout colab กับ Drive ควรเป็น accout เดียวกัน|
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #การจัดการเกี่ยวกับไฟล์ต่าง ๆ มันอยู่โฟลเดอร์ไหน list ออกมาให้ดูหน่อย

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data' #มันอยู่ใน Driveของเรา บอกทางผ่านไฟล์เรา

In [5]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') # ความสำคัญ เราทำบน window linux มันจะไม่เหมือนกัน มันเอาไฟล์มา/กัน กลับมาเขียนต่อ
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [20]:
data_df = pd.read_csv(covid_file_path)
data_df

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [21]:
data_df.head() # มันจะเอามาเฉพาะหัวตาราง ใช้กับ dataframe ถ้าเราไม่ใส่อะไร มันจะโชว์ 5 row

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

ตรวจสอบค่าใน colum

In [13]:
import numpy as np

In [17]:
set(data_df['province_of_onset'] )

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

## ต่อตาราง


1.   ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
2.   ต่อในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

In [23]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [24]:
KK = data_df[data_df['province_of_onset']=='ขอนแก่น']
KK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

## ต่อตารางเป็น 2 จังหวัด

In [26]:
dataBKKKK = pd.concat([BKK , KK] ) # เอาตารางมาต่อกันตรง colum province_of_onset
dataBKKKK

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [27]:
dataBKKKKBKK = pd.concat([BKK , KK , BKK] ) # เอาตารางมาต่อกัน
dataBKKKKBKK

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

In [32]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK2.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [34]:
KK2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age', 'nationality', 'sex']]
KK2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [36]:
BKK2KK2= pd.concat([BKK2 , KK2] ) 
BKK2KK2

       No. announce_date  ... district_of_onset                              risk
0      1.0     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1      2.0     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3      4.0     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4      5.0     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5      6.0     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
...    ...           ...  ...               ...                               ...
9334   NaN           NaN  ...               NaN                               NaN
10610  NaN           NaN  ...               NaN                               NaN
11517  NaN           NaN  ...               NaN                               NaN
11697  NaN           NaN  ...               NaN                               NaN
11698  NaN           NaN  ...               NaN                               NaN

[2803 rows x 10 columns]

In [37]:
KK3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age', 'nationality', 'risk']]
KK3.head()

       age nationality                                           risk
180   33.0    Thailand                                        สนามมวย
462   36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ

In [38]:
BKK2KK3= pd.concat([BKK2 , KK3] ) 
BKK2KK3

       No.  ...                                         risk
0      1.0  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1      2.0  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3      4.0  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4      5.0  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5      6.0  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...    ...  ...                                          ...
9334   NaN  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  NaN  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  NaN  ...                         อยู่ระหว่างการสอบสวน
11697  NaN  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  NaN  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [39]:
KK4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age', 'nationality']]
KK4.head()

       age nationality
180   33.0    Thailand
462   36.0    Thailand
1466  19.0    Thailand
1970  70.0    Thailand
2637  63.0    Thailand

In [40]:
BKK2KK4= pd.concat([BKK2 , KK4] ) 
BKK2KK4

       No. announce_date  ... district_of_onset                              risk
0      1.0     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1      2.0     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3      4.0     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4      5.0     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5      6.0     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
...    ...           ...  ...               ...                               ...
9334   NaN           NaN  ...               NaN                               NaN
10610  NaN           NaN  ...               NaN                               NaN
11517  NaN           NaN  ...               NaN                               NaN
11697  NaN           NaN  ...               NaN                               NaN
11698  NaN           NaN  ...               NaN                               NaN

[2803 rows x 10 columns]

## ต่อแกน X

In [41]:
personal_data = data_df[['No','sex','age','nationality']]
personal_data.head()

KeyError: ignored